name: Trivy Scan

on:
  push:
    branches:
      - main
      - 'release-1*'
      - develop
      - '1.2.*'
      - master
      - test
      - MOSIP-35987
  pull_request:
    branches:
      - main
      - 'release-1*'
      - develop
      - '1.2.*'
      - master
      - test
      - MOSIP-35987

jobs:
  trivy-scan:
    runs-on: ubuntu-latest
    env:
      SERVICE_NAME: partner-onboarder
      VERSION: ${{ github.event.number || 'latest' }}
      SERVICE_LOCATION: '.'  # Adjust if needed

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Build Docker image
        run: |
          cd "${{ env.SERVICE_LOCATION }}"
          docker build . --file Dockerfile --tag ${{ env.SERVICE_NAME }}:${{ env.VERSION }}

      - name: Run Trivy vulnerability scanner (no DB update)
        id: trivy-scan
        uses: aquasecurity/trivy-action@0.20.0
        with:
          image-ref: '${{ env.SERVICE_NAME }}:${{ env.VERSION }}'
          format: 'table'
          output: 'trivy-results.txt'
          severity: 'HIGH,CRITICAL'
          ignore-unfixed: true
          exit-code: 1
          skip-db-update: true  # Skip DB update to avoid the error

      - name: Check Trivy result file
        run: cat trivy-results.txt

      - name: Format Trivy Scan Result
        run: |
          if [ -s trivy-results.txt ]; then
            echo -e "## Vulnerability Scan Results\n<details><summary>Details</summary>\n\n\`\`\`\n$(cat trivy-results.txt)\n\`\`\`\n</details>" > formatted-trivy-result.md
          else
            echo -e "## Vulnerability Scan Results\nNo vulnerabilities were detected." > formatted-trivy-result.md
          fi

      - name: Comment PR with Trivy scan results
        uses: marocchino/sticky-pull-request-comment@v2
        with:
          path: formatted-trivy-result.md

      - name: Clean up Trivy result file
        run: rm -f trivy-results.txt formatted-trivy-result.md
